@import 'tailwindcss/base';

@import 'tailwindcss/utilities';

@import 'tailwindcss/components';

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900 dark:text-gray-100 font-medium antialiased;
  line-height: 1.2 !important;
}

h1 {
  @apply text-4xl;
}
@screen lg {
  h1 {
    @apply text-5xl;
  }
}

h2 {
  @apply text-3xl;
}
@screen lg {
  h2 {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl;
}
@screen lg {
  h3 {
    @apply text-2xl;
  }
}

h4 {
  @apply text-lg;
}
@screen lg {
  h4 {
    @apply text-xl;
  }
}

p {
  @apply antialiased text-gray-600 dark:text-gray-400 leading-relaxed whitespace-pre-line break-words text-lg;
}

p a {
  @apply inline-block text-primary-500;
  line-height: 0.8;
}

p a:hover,
p a:active {
  @apply text-primary-500 font-bold no-underline border-transparent;
}

.highlight {
  background-image: linear-gradient(180deg, transparent 70%, rgba(79, 209, 197, 0.4) 0);
  display: inline-block;
  text-decoration: none;
}

/** sticky modal */
.modal-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

.modal-container-sticky {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  box-shadow: 0 -1rem 50rem 75rem rgba(20, 150, 200, 0.1);
}

.modal-overlay-slide {
  transition: all 500ms ease-out;
  transform: translateY(80%) scale(5);
}
.ReactModal__Overlay--after-open.modal-overlay-slide {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.ReactModal__Overlay--before-close.modal-overlay-slide {
  opacity: 0;
  transform: translateY(80%) scale(5);
}

/** toast */
.Toastify__toast-container {
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 9999px);
  position: fixed;
  padding: 4px;
  width: 360px;
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  margin-left: -180px;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0 1.5rem;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-center {
    top: 1.5rem;
  }
}

.Toastify__toast {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  cursor: pointer;
  direction: ltr;
  margin-bottom: 8px;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1;
  flex: 1;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
  }
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100%;
  z-index: 9999;
  opacity: 0.1;
  transform-origin: bottom;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}
.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}
